@font-face {
    font-family: "Panton";
    src: url(../fonts/Panton-LightCaps.otf) format("opentype");
}

body, html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #000;
    font-family: panton, serif;
}

#gradient {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    animation: load 60s ease-in-out infinite;
    opacity: 0;
    z-index: 1;
    transition: all 5s ease-out;
}

.dot {
    opacity: 0;
    z-index: 2;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    35% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#main {
    position: fixed;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 80vh;
    text-align: center;
    color: #fff;
    z-index: 3;
}

#kris {
    border-radius: 0;
    z-index: 5;
    position: fixed;
    top: calc(50% - 128px);
    left: calc(50% - 128px);
}
#kristekst {
    font-size: large;
    position: fixed;
    top: calc(50% + 140px);
    left: calc(50% - 75px);
}

#git, #yt, #tg, #dc {
    z-index: 5;
    position: fixed;
    height: 100px;
    width: 210px;
    text-align: left;
    margin-left: 10px;
    font-size: large;
    left: calc(50% + 160px);
    padding: 5px;
}

#git {
    top: calc(50% - 236px);
}
#yt {
    top: calc(50% - 108px);
}
#tg {
    top: calc(50% + 20px);
}
#dc {
    top: calc(50% + 148px);
}

.img {
    vertical-align: middle;
}

a, .hoverable {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:visited {
    color: #bbb;
}

a:hover, .hoverable:hover {
    background-color: rgba(128,128,128,0.5);
    color: #fff;
    cursor: pointer;
}

#liczby {
    position: fixed;
    top: calc(100% - 64px);
    left: 70px;
    color: #fff;
    font-size: 20px;
    z-index: 6;
    padding: 5px;
}
#liczby-logo {
    position: fixed;
    top: calc(100% - 140px);
    left: 70px;
    width: 125px;
    z-index: 6;
    padding: 5px;
}

#clicker {
    position: fixed;
    top: calc(100% - 64px);
    left: 210px;
    color: #fff;
    font-size: 20px;
    z-index: 6;
    padding: 5px;
}
#clicker-logo {
    position: fixed;
    top: calc(100% - 140px);
    left: 210px;
    width: 200px;
    z-index: 6;
    padding: 5px;
}

#sudoku {
    position: fixed;
    top: calc(100% - 64px);
    left: 425px;
    color: #fff;
    font-size: 20px;
    z-index: 6;
    padding: 5px;
}
#sudoku-logo {
    position: fixed;
    top: calc(100% - 145px);
    left: 425px;
    width: 80px;
    z-index: 6;
    padding: 5px;
}

.colorblock {
    height: 64px;
    width: 64px;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 2px solid #0f0f0f;
}

.colorblock:hover {
    filter: blur(0);
    transition: all 0.2s ease-in-out, height 0.05s ease-in-out, width 0.05s ease-in-out;
}


.active {
    border: 2px solid #0faf0f;
}

#kolory {
    position: fixed;
    left: -32px;
    top: calc(50% - 217px);
    transition: all 0.25s ease-in-out;
}

#kolory:hover {
    left: 0px;
}

.blur {
    filter: blur(3px);
    color: transparent;
    transition: all 0.25s ease-in-out;
    text-shadow: 0 0 2px rgba(255,255,255,0.5);
}

.blur:hover {
    filter: blur(0px);
    color: #ddd;
    text-shadow: none;
    cursor: pointer;
}